# VS Code
.vscode/

# Python
__pycache__/
.venv/
*.egg-info/
uv.lock
.pytest_cache/

# MacOS
.DS_STORE

# Credentials
*.env

# Logs/results
logs/
materials/*.txt
results/*.csv

# Diagnostics
config/config_diag.yaml
data/ihb_diag/
